<br />
<%= link_to 'back to categories', categories_path %>
<h1>
  New category
</h1>
<%= form_with(model: @order) do |form| %>

  <%#= @user.errors.full_messages.join(", ") if @user.errors.present? %>

  <% @order.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>

  <div>
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>
<br>
  <div>
    <%= form.label :service %>
    <%= form.collection_select :service_ids, Service.all, :id, :title, {}, { multiple: true } %>
  </div>

  <hr>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
